.adoption-help-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 2rem 1rem;
  background-color: #D3D3D3;
}

.adoption-header, .adoption-subheader, .adoption-description, .adoption-button {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.adoption-header h2, .adoption-subheader h3 {
  margin: 0;
  color: #003B6D;
}

.adoption-description p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1rem;
}

.square-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem; 
  margin-top: 2rem;
}

.square {
  width: 10%;
  min-width: 200px;
  min-height: 200px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
}

.square:hover {
  transform: scale(1.07);
}

.square:nth-child(1) {
  background-image: url('../assets/best-friends.png');
  background-size: cover;
  background-position: center;
}

.square:nth-child(2) {
  background-image: url('../assets/ASPCA.png');
  background-size: cover;
  background-position: center;
}

.square:nth-child(3) {
  background-image: url('../assets/fish-shelter.jpeg');
  background-size: cover;
  background-position: center;
}

.square:nth-child(4) {
  background-image: url('../assets/snakes-logo.jpg');
  background-size: cover;
  background-position: center;
}

.square:nth-child(5) {
  background-image: url('../assets/bird-logo.jpg');
  background-size: cover;
  background-position: center;
}

.pexpert-button-adopt {
  display: inline-block;
  background-color: #003B6D;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
}

.pexpert-button-adopt:hover {
  background-color: #5577aa;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .adoption-header h2 {
    font-size: 1.75rem;
  }

  .square {
    width: 90%;
    max-width: 100px;
    height: auto;
  }

  .adoption-description p {
    font-size: 0.9rem;
  }

  .pexpert-button-adopt {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 480px) {
  .adoption-help-section {
    min-width: 450px
  }

  .adoption-header h2, .adoption-subheader h3 {
    font-size: 1rem;
  }

  .square {
    width: 100%;
    height: auto;
  }

  .pexpert-button-adopt {
    font-size: 0.8rem;
    padding: 0.5rem 0.75rem;
  }
}
