.relationship-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 450px;
  height: auto;
  background-color: #6699CC;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.relationship-left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.relationship-header, .relationship-description, .relationship-pexpert-button-container {
  text-align: center;
}

.relationship-header h2 {
  color: Black;
  font-size: 3rem;
  margin: 1rem 0;
}

.relationship-description {
  padding: 1rem;
}

.relationship-description p {
  font-size: 1rem;
  color: Black;
  margin: 2rem 0;
  max-width: 600px;
}

.relationship-pexpert-button-container {
  display: flex;
  justify-content: center;
}

.relationship-pexpert-button {
  text-decoration: none;
  background-color: #676767;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.relationship-pexpert-button:hover {
  background-color: #6699cc;
  transform: scale(1.05);
}

.relationship-right-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.relationship-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .relationship-section {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  .relationship-left-container, .relationship-right-container {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  .relationship-header h2 {
    font-size: 1.75rem;
  }

  .relationship-description p {
    font-size: 1rem;
  }

  .relationship-pexpert-button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .relationship-image {
    width: 350px;
    height: auto;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .relationship-section {
    padding: 1rem;
  }

  .relationship-description p {
    font-size: 0.85rem;
  }

  .relationship-image {
    min-width: 350px;
  }
}

ul {
  align-items: left;
  text-align: left;
  padding-left: 1rem;
}
