.cat-banner {
  width: 100%;
  min-width: 450px;
  height: 70vh;
  min-height: 500px;
  background-image: url('../assets/cat-banner.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.cat-banner-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
  color: #676767;
}

.cat-banner-heading {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 8rem;
  color: white;
}

.consult-button {
  text-decoration: none;
  background-color: #003B6D;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.consult-button:hover {
  background-color: #6699CC;
  transform: scale(1.05);
  color: white;
}
