.old-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #D3D3D3;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.old-left-container,
.old-right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.old-header,
.old-description,
.old-button-container {
  text-align: center;
}

.old-header h2 {
  color: #003B6D;
  font-size: 3rem;
}

.old-description {
  padding: 5rem 0;
}

.old-description p {
  font-size: 1rem;
  color: black;
  max-width: 600px;
}

.old-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  object-fit: cover;
}

/* Media Query for Tablets and Smaller Screens */
@media (max-width: 768px) {
  .old-section {
    flex-direction: column;
    padding: 1rem;
    min-width: 450px;
  }

  .old-left-container,
  .old-right-container {
    width: 100%;
    padding: 1rem;
  }

  .old-header h2 {
    font-size: 1.75rem;
  }

  .old-description p {
    font-size: 1rem;
  }

  .old-image {
    margin: 0 auto;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .old-section {
    padding: 1rem;
    min-width: 450px;
  }

  .old-description p {
    font-size: 0.85rem;
  }

  .old-image {
    max-width: 350px;
  }
}
