.one-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.one-left-container,
.one-right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.one-header,
.one-description,
.one-button-container {
  text-align: center;
}

.one-header h2 {
  color: black;
  font-size: 3rem;
}

.one-description {
  padding: 5rem 0;
}

.one-description p {
  font-size: 1rem;
  color: black;
  max-width: 600px;
}

.one-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  object-fit: cover;
}

/* Media Query for Tablets and Smaller Screens */
@media (max-width: 768px) {
  .one-section {
    flex-direction: column;
    padding: 1rem;
    min-width: 450px;
  }

  .one-left-container,
  .one-right-container {
    width: 100%;
    padding: 1rem;
  }

  .one-header h2 {
    font-size: 1.75rem;
  }

  .one-description p {
    font-size: 1rem;
  }

  .one-image {
    margin: 0 auto;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .one-section {
    padding: 1rem;
    min-width: 450px;
  }

  .one-description p {
    font-size: 0.85rem;
  }

}
