.seven-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 450px;
  height: auto;
  background-color: #003B6D;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.seven-left-container,
.seven-right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.seven-header,
.seven-description,
.seven-pexpert-button-container {
  text-align: center;
}

.seven-header h2 {
  color: #BDBDBD;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.seven-description p {
  font-size: 1rem;
  color: white;
  margin: 5rem 0;
  max-width: 600px;
}

.seven-pexpert-button-container {
  display: flex;
  justify-content: center;
}

.seven-pexpert-button {
  text-decoration: none;
  background-color: #676767;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.seven-pexpert-button:hover {
  background-color: #6699cc;
  transform: scale(1.05);
}

.seven-right-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seven-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  object-fit: cover;
}

/* Media Query for Tablets and Smaller Screens */
@media (max-width: 768px) {
  .seven-section {
    flex-direction: column;
    padding: 1rem;
  }

  .seven-left-container,
  .seven-right-container {
    width: 100%;
    padding: 1rem;
  }

  .seven-header h2 {
    font-size: 1.75rem;
  }

  .seven-description p {
    font-size: 1rem;
  }

  .seven-pexpert-button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .seven-image {
    min-width: 350px;
    height: auto;
    margin: 0 auto;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .seven-section {
    padding: 1rem;
  }

  .seven-description p {
    font-size: 0.85rem;
  }

  .seven-image {
    min-width: 350px;
  }
}
