.dog-banner {
    width: 100%; /* Full width */
    min-width: 450px;
    height: 70vh; /* 40% of viewport height */
    min-height: 500px;
    background-image: url('../assets/dog-woods.jpg'); /* Replace with your image */
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: top; /* Center the image */
    display: flex; /* Flexbox for content alignment */
    align-items: center; /* Center horizontally */
    padding: 1rem; /* Add some padding */
  }

  .banner-content-one {
    width: 30%;
  }

  .banner-content-two {
    width: 65%; /* Occupy the left 70% of the container */
    display: flex; /* Use flexbox for internal alignment */
    flex-direction: column; /* Stack heading and button */
    justify-content: center; /* Center content vertically */
    align-items: center;
    text-align: Right; /* Align text to the left */
    color: white; /* White text for contrast */  
  }
  
  .banner-heading {
    font-size: 4rem; /* Adjust font size for heading */
    margin-bottom: 8rem; /* Space below heading */
  }
  
  .consult-button {
    text-decoration: none; /* Remove underline */
    background-color: #003B6D; /* Button background color */
    color: white; /* Button text color */
    padding: 0.75rem 1.5rem; /* Button padding */
    border-radius: 5px; /* Rounded corners */
    font-weight: bold; /* Bold text */
    transition: background-color 0.3s, transform 0.2s; /* Smooth hover effect */
  }
  
  .consult-button:hover {
    background-color: #6699CC; /* Darker shade on hover */
    transform: scale(1.05); /* Slight zoom on hover */
    color: white;
  }
  