.groom-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 450px;
  height: auto;
  background-color: white;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.groom-left-container, .groom-right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.groom-header, .groom-description, .groom-button-container {
  text-align: center;
}

.groom-header h2 {
  color: black;
  font-size: 3rem;
}

.groom-description {
  padding: 5rem 0;
}

.groom-description p {
  font-size: 1rem;
  color: black;
  max-width: 600px;
}

.groom-image {
  width: 100%;
  max-width: 350px;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .groom-section {
    flex-direction: column;
    padding: 1rem;
  }

  .groom-left-container, .groom-right-container {
    width: 100%;
    padding: 1rem;
  }

  .groom-header h2 {
    font-size: 2rem;
  }

  .groom-description p {
    font-size: 1rem;
  }

  .groom-image {
    max-width: 350px;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .groom-description p {
    font-size: 0.85rem;
  }

  .groom-image {
    max-width: 350px;
  }
}
