.dog-medical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D3D3D3;
  padding: 20px;
  height: 60vh;
  min-height: 750px;
  min-width: 450px;
  text-align: center;
}

.dog-medical h2 {
  color: #003B6D;
  font-size: 3rem;
  margin-bottom: 20px;
}

.dog-medical p {
  color: black;
  font-size: 1rem;
  margin-bottom: 20px;
  max-width: 800px;
  line-height: 1.5;
}

.dog-vet {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-top: 20px;
}

.medical-button {
  margin: 15px;
}

.pexpert-button-medical {
  display: inline-block;
  background-color: #003B6D;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  text-decoration: none;
}

.pexpert-button-medical:hover {
  background-color: #5577aa;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .dog-medical {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  .dog-medical h2 {
    font-size: 2rem;
  }

  .dog-medical p {
    font-size: 1rem;
  }

  .dog-vet {
    max-width: 350px;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .dog-medical {
    padding: 1rem;
  }

  .dog-medical p {
    font-size: 0.85rem;
  }

  .dog-vet {
    min-width: 350px;
  }
}
