.health-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: white;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.health-left-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.health-right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.health-header, .health-description, .pexpert-button-container {
  text-align: center;
}

.health-header h2 {
  color: black;
}

.health-description {
  padding: 5rem 0;
}

.health-description p {
  font-size: 1rem;
  color: black;
  max-width: 600px;
}

.home-health-button-container {
  display: flex;
  justify-content: center;
}

.health-button {
  text-decoration: none;
  background-color: #676767;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.pexpert-button:hover {
  background-color: #6699cc;
  transform: scale(1.05);
}

.health-right-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.health-image {
  width: 100%;
  max-width: 650px;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .health-section {
    flex-direction: column;
    height: auto;
    padding: 1rem;
    min-width: 450px;
  }

  .health-left-container, .health-right-container {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  .health-header h2 {
    font-size: 1.5rem;
  }

  .health-description p {
    font-size: 1rem;
  }

  .pexpert-button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .health-image {
    max-width: 350px;
    height: auto;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .health-section {
    padding: 1rem;
    min-width: 450px;
  }

  .health-description p {
    font-size: 0.85rem;
  }

  .health-image {
    min-width: 400px;
  }
}
