.logos-containers {
    display: flex;
    justify-content: space-between; /* Space between left and right sections */
    align-items: center;
    width: 100%;
    height: 10vh;
}

.lettered-logo {
    background-image: url('../assets/paradigm-logo.png');
    background-size: cover;
    background-position: center;
    height: 15vh;
}

.balloon-logo {
    background-image: url('../assets/baloon-dog.png');
    background-size: cover;
    background-position: center;
}