.pet-banner {
  width: 100%;
  min-width: 450px;
  height: 70vh;
  background-image: url('../assets/dog_owner_beach.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.home-banner-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: #003B6D;
}

.banner-heading {
  font-size: 4rem;
  margin-bottom: 8rem;
}

.consult-button {
  text-decoration: none;
  background-color: #003B6D;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  max-width: 250px;
}

.consult-button:hover {
  background-color: #6699CC;
  transform: scale(1.05);
  color: white;
}
