.pexpert-banner {
  width: 100%;
  min-width: 350px;
  height: 70vh;
  min-height: 300px;
  background-image: url('../assets/pexpert-professional.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.pexpert-banner-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  color: #003B6D;
}

.pexpert-banner-heading {
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .pexpert-banner {
    height: 60vh;
    min-height: 250px;
  }

  .pexpert-banner-content {
    padding: 1rem;
    text-align: center;
  }

  .pexpert-banner-heading {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .pexpert-banner {
    height: 50vh;
    min-height: 200px;
  }

  .pexpert-banner-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
