.form-container {
  max-width: 36rem;
  min-width: 12rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  border: 2px solid #003B6D;
  border-radius: 0.5rem;
  background-color: white;
  margin-bottom: 2rem;
}

.form-heading {
  min-width: 350px;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.form-group {
  margin-bottom: 1rem;
  min-width: 350px;
}

.form-label {
  display: block;
  color: #003B6D;
  margin-bottom: 0.5rem;
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #E5E7EB;
  border-radius: 0.25rem;
  background-color: #D3D3D3;
}

.form-input.filled {
  background-color: white;
}

.submit-button {
  width: 100%;
  padding: 0.5rem;
  background-color: #2563EB;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button:hover {
  background-color: #1D4ED8;
}

.form-select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #E5E7EB;
  border-radius: 0.25rem;
  background-color: #D3D3D3;
}

.form-select.filled {
  background-color: white;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .seven-section {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  .seven-left-container, .seven-right-container {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  h2 {
    font-size: 1.75rem;
  }

  .seven-description p {
    font-size: 1rem;
  }

  .seven-pexpert-button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .seven-image {
    min-width: 350px;
    height: auto;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .seven-section {
    padding: 1rem;
  }

  .seven-description p {
    font-size: 0.85rem;
  }

  .seven-image {
    min-width: 350px;
  }
}
